/CarParkMonitor/Debug/
/CarParkMonitor/ipch/
/CarParkMonitor/x64/
/CarParkMonitor/CarParkMonitor/Debug/
/CarParkMonitor/CarParkMonitor/Content/
/CarParkMonitor/CarParkMonitor/x64/
/OpenCVDemos/
*.dll
*.exe
*.obj
*.ipch
*.pdb
*.pgm
*.tlog
*.avi
*.png
/CarParkMonitor/Converter/x64/